# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Python Backend
venv/
.env
__pycache__/
*.pyc

# VS Code
.vscode/*
!.vscode/extensions.json

# IDE
.idea

# OS Files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?